@mixin d-flex ($direction: row, $align-items: flex-start, $justify-content: flex-start, $gap: 20px) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $direction;
    gap: $gap;
}

@mixin h-property($font-size: 18px, $line-height: 24px, $font-weight: 400) {
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: 0.2px;
}

@mixin r-property {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.2px;
    color: #737373;
}

@mixin btn {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    &:hover {
        transition: 0.2s;
        background-color: #000;
        color: #fff;
    }
}